
.div_login {
    border: 1px solid black;
    width: 350px;
    height: 300px;
    padding-bottom: 20px;
    margin-left: 32%;
    background-color: whitesmoke;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
input[type="submit"] {
    margin-top: 30px;
}
